<div>
  <%= flash[:notice] %>
</div>

<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->
  <div class="col-lg-4">
   <%= render 'books/list' %>


 </div><!-- この行を追加 -->
 <div class="col-lg-8">  <!-- この行を追加 -->
<h2>Books</h2>
 <table>
  <thead>
   <tr>
   <th></th>
   <th>Title</th>
   <th>Opinion</th>
  </tr>
  </thead>
  <tbody>
   <% @books.each do |book| %>
    <tr>
      <td>
       <%= link_to user_path(book.user.id) do %>
       <%= image_tag book.user.get_profile_image(100,100) %>
       <% end %>
       </td>
      <td>
       <%= link_to book_path(book.id) do%>
         <%= book.title %>
       <% end %>
      </td>
      <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</div>
</table>
 </div>  <!-- この行を追加 -->
</div>    <!-- この行を追加 -->
