<div class="container">
 <div class="row">
  <div class="col-lg-4">
  <%= render 'books/list' %>
  </div>
 <div class="col-lg-8">
  <h2>Books</h2>
  <table>
   <thead>
    <tr>
     <th></th>
     <th>Title</th>
     <th>Opinion</th>
    </tr>
   </thead>
  <tbody>
   <tr>
    <td>
    <%= link_to user_path(@book.user.id) do %>
     <%= image_tag @book.user.get_profile_image(100,100) %>
    <% end %>
    </td>
    <td>
     <%= link_to book_path(@book.id) do%>
      <%= @book.title %>
     <% end %>
    </td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
     <td><%= link_to "Edit", edit_book_path(@book.id)  %></td>
     <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "Are you sure？"} %></td>
    <% end %>
    </tr>
  </tbody>
  </table>
 </div>
</div>
