<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2 ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/dc24351428.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
 <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">Bookers</a>
        <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <div class="collapse navbar-collapse justify-content-end">
      <li class="nav-item">
        <a class="nav-link"><i class="fa-solid fa-house" style="color: white"></i><%= link_to "Home", root_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa-solid fa-users" style="color: white"></i><%= link_to "Users", users_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa-solid fa-book-open" style="color: white"></i><%= link_to "Books", books_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa-solid fa-right-from-bracket"  style="color: white"></i><%= link_to "Log out", destroy_user_session_path, method: :delete %></a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link"><i class="fa-solid fa-house" style="color: white"></i><%= link_to "Home", root_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa-solid fa-link" style="color: white"></i><%= link_to "About", about_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa-solid fa-user-plus" style="color: white"></i><%= link_to "Sign up", new_user_registration_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa-solid fa-right-to-bracket" ></i><%= link_to "Log in", new_user_session_path %></a>
      </li>
      <% end %>
     </ul>
    </div>
  </div>
</nav>
</header>

<main>
<div style="text-align:center">
    <div><%= yield %></div>
</div>
    </main>



  <footer>
    <div style="text-align:center">
    <P>CopyRight Infratop.inc</P>
    </div>
  </footer>
  </body>
</html>


