<!DOCTYPE html>
<html>
  <head>
    <title>試作</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/dc24351428.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
        <%= link_to root_path, class: "text-light" do%>
        <i class="navbar-brand"></i>Bookers
        <% end %>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class="collapse navbar-collapse justify-content-end">-->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <!--<div class="collapse navbar-collapse justify-content-end">-->
      <li>
        <%= link_to current_user, class: "nav-link text-light" do %>
         <i class= "fas fa-home" style="color: white"></i>Home
        <% end %>
      </li>
      <li>
        <%= link_to users_path, class: "nav-link text-light" do %>
         <i class="fa-solid fa-users" style="color: white"></i>Users
        <% end %>
      </li>
      <li>
        <%= link_to  books_path, class: "nav-link text-light" do %>
         <i class="fa-solid fa-book-open" style="color: white"></i>Books
        <% end %>
      </li>
      <li>
        <%= link_to  destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
         <i class= "fas fa-sign-out-alt" style="color: white"></i>Log out
        <% end %>
      </li>
      <% else %>
      <li>
       <%= link_to root_path, class: "nav-link text-light" do %>
        <i class="fas fa-home" style="color: white"></i>Home
       <% end %>
      </li>
      <li>
       <%= link_to about_path, class: "nav-link text-light" do %>
        <i class="fa-solid fa-link" style="color: white"></i>About
       <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path,class: "nav-link text-light" do %>
         <i class="fa-solid fa-user-plus" style="color: white"></i>Sign up
        <% end %>
      </li>
      <li>
       <%= link_to new_user_session_path,class: "nav-link text-light" do %>
        <i class= "fas fa-sign-in-alt" style="color: white"></i>Log in
       <% end %>
      </li>
      <% end %>
     </ul>
    </div>
  </div>
</nav>
</header>

<main>
 <div>
 <%= flash[:notice] %>
</div>

    <div><%= yield %></div>

    </main>



  <footer>
    <div style="text-align:center">
    <P>CopyRight Infratop.inc</P>
    </div>
  </footer>
  </body>
</html>


